<h2>¡Invitación al {{ event }}!</h2>

<p>Estimado/a {{ player }},</p>

<p>Nos complace invitarte al {{ event }}:</p>

<ul>
<li><strong>Evento:</strong> {{ event }}</li>
<li><strong>Monto:</strong> {{ monto }}</li>
<li><strong>Participantes:</strong> {{ cant }}</li>
</ul>


<p>¡Esperamos verte allí!</p>


